@import '../../../../scss/variable.scss';
@mixin chart($type, $width, $height, $index) {
  transition: all linear 0.2s;
  width: $width * 1%;
  height: $height * 1%;
  border: 1px $type;
  border-left: none;
  position: absolute;
  z-index: $index;
  background-color: $background-color;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.goal {
  height: 100%;
  margin-top: 10px;
  .goal-title {
    text-align: center;
  }
  .racing-road {
    width: 80%;
    height: 30px;
    border-bottom: 1px solid;
    border-right: 2px dashed;
    margin: 10px auto auto auto;
    display: flex;
    align-items: center;
    position: relative;

    .racing-group:nth-child(1) {
      position: relative;
      @include chart(double, 30, 65, 3);
    
    }
    .racing-group:nth-child(2) {
      @include chart(dashed, 100, 90, 4);
      &:hover {
        background-color: red;
      }
      &:after {
        content: "33";
        position: absolute;
        // width: 100px;
        // height: 100px;
        top: -10px;
        right: -5px;
        background-color: $secondary-color;
        padding: 3px;
        border-radius: 50%;
        z-index: 100;
        color: white;
      }
    }
    .racing-group:nth-child(3) {
      @include chart(dotted, 30, 45, 2);
    }
    .racing-group:nth-child(4) {
      @include chart(double, 30, 15, 1);
    }
  }
  .racing-content {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    .racing-group {
      display: flex;
      .racing-color {
        width: 10px;
        height: 10px;
        border: 1px solid;
      }
      .racing-note {
        margin-left: 5px;
      }
    }
    .racing-group:nth-child(1) {
      .racing-color {
        border: 2px dashed;
      }
    }
    .racing-group:nth-child(2) {
      .racing-color {
        border: 2px dotted;
      }
    }
    .racing-group:nth-child(3) {
      .racing-color {
        border: 2px solid;
      }
    }
    .racing-group:nth-child(4) {
      .racing-color {
        border: 2px solid;
      }
    }
  }
}

@media (max-width:576px) {
  .goal {
    min-height: 30vh;
  }
}
