@import "../../../../scss/variable.scss";
.table {
  width: 100%;
  padding: 10px;
  thead {
    tr {
      th {
        border-bottom: 2px solid $border-color;
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 1px solid $border-color;
        padding: 5px;
        text-align: center;
        button {
          padding: 2px;
          background-color: transparent;
          border: 1px solid $border-color;
          // background-color: red;
        }
        .edit {
          // background-color: red;
        }
        .delete {
          // background-color: blue;
        }
      }
      
    }
  }
}
