@import "../../scss/variable.scss";

.mobile-container {
  .header {
    grid-area: header;
  }
  .nav {
    grid-area: nav;
  }
  .menu {
    grid-area: menu;
  }
  .main-top {
    grid-area: main-top;
  }
 
  .main-middle-left {
    grid-area: main-middle-left;
  }
  .main-middle-right {
    grid-area: main-middle-right;
  }
  .main-bottom-left {
    grid-area: main-bottom-left;
  }
  .main-bottom-right {
    grid-area: main-bottom-right;
  }
  .right {
    grid-area: right;
  }
  .footer {
    grid-area: footer;
  }
  .main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $surface-color;
    backdrop-filter: $surface-blur;
  }
  
}
.mobile-container {
  background: $background-linear;
}
.mobile-container > div {
  background: $surface-color;
  backdrop-filter: $surface-blur;
}
// TODO: FOR MOBILE
@media (max-width: 576px) {
  .mobile-container {
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-gap: $grid-gap;
    box-sizing: border-box;
    grid-template-rows: 1fr 0.5fr 0.6fr 5fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "menu menu menu menu"
      "main-top main-top main-top main-top"
      "main-middle-left main-middle-left main-middle-right main-middle-right"
      "main-bottom-left main-bottom-left main-bottom-right main-bottom-right"
      "right right right right"
      "footer footer footer footer";
  }
}

// TODO: FOR TABLET
@media (min-width: 576px) {
  .mobile-container {
    // width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-gap: $grid-gap;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 0.5fr 5fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "header header header header"
      "menu nav nav nav"
      "menu main-top main-top right"
      "menu main-middle-left main-middle-right right"
      "menu main-bottom-left main-bottom-right right"
      "menu footer footer right";
  }
}
